Repository openmerlin/dockerfile, pull requests merged in 2025-02, with the labels that each got.

#24 [CANN] Add 8.0.0.beta1 image and take it as the latest
  arg.json
Labels: cann, ci/cd

#25 [CANN] Refactor cann.sh and workflows
  .github/workflows/_docker-build.yml
  .github/workflows/docker.yml
  cann/cann.sh
Labels: cann, ci/cd

#27 [Hotfix] Resolve segfaults temporarily
  .github/workflows/_docker-build.yml
Labels: cann, ci/cd

#28 [Hotfix] Let jobs run on arm runners
  .github/workflows/_docker-build.yml
Labels: python, cann, pytorch, mindspore, ci/cd

#29 [CANN] Add cann-nnal to `cann:8.0.0`
  .github/actions/clean-up/action.yml
  arg.json
  cann/README.md
  cann/cann.sh
  cann/openeuler.Dockerfile
  cann/ubuntu.Dockerfile
Labels: documentation, cann, ci/cd

#31 [Refactor] Allow build single target
  .github/workflows/_docker-build.yml
  .github/workflows/docker.yml
  cann/cann.sh
  docker-bake.hcl
Labels: ci/cd

#34 Add a new image repository AscendHub
  .github/actions/docker-login/action.yml
  .github/workflows/_docker-build.yml
  arg.json
Labels: ci/cd
